<!DOCTYPE html>
<html lang="en" th:replace="~{base ::parent(~{::#content},~{::title},~{::script})}">

<head>
    <title>Contact Page</title>
</head>

<body>
    <div id="content">
        <h1>Welcome to Contact page</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo facere id repudiandae voluptatibus,
            deleniti ipsa
            laudantium consectetur amet aut praesentium, voluptatem ex eaque quasi aspernatur expedita dignissimos,
            nostrum
            aperiam illo.</p>
    </div>
    <script>
        console.log("contact page");
    </script>
</body>

</html>