<!DOCTYPE html>
<html lang="en" >

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Java Script</title>
	<link rel="stylesheet" data-th-href="@{'/css/output.css'}">
	<style>
		.container {
			margin: auto;
			width: 50%;
			padding: 30px;
			background: #e2e2e2;
		}
	</style>
</head>

<body>
	<div class="container">
		<h1 data-th-text="${name}">Welcome to home page</h1>
		<p>Youtube Channel : <span data-th-text="${ytChannel}"></span></p>
		<p>Linkedin :<span th:text="${lindedin}"></span></p>
		<a th:href="${lindedin}">Click here to open</a>
		<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quia veritatis ipsa minima mollitia consectetur
			molestiae tenetur nesciunt possimus neque corrupti. Assumenda facere iure sit esse reiciendis sunt voluptas
			ducimus cum. Quis, hic dolorum ab molestiae accusamus alias aperiam voluptas libero quos necessitatibus ut
			error saepe tempore ad eveniet ea incidunt sunt velit consequatur cumque dicta! Quasi alias tempora dolores
			qui minus? Alias, similique eaque?
		</p>
	</div>
</body>
<script src="first.js"></script>

</html>